<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentSystemApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".adminActivity.dialogs.AppendDisciplineDialog"
            android:exported="false" />
        <activity
            android:name=".adminActivity.TeacherDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivity.SearchTeacherActivity"
            android:exported="true" />
        <activity
            android:name=".adminActivity.RegistrationStudentActivity"
            android:exported="true" />
        <activity
            android:name=".adminActivity.AdminHomeActivity"
            android:exported="true" />
        <activity
            android:name=".teacherActivity.CreateMaterialActivity"
            android:exported="true" />
        <activity
            android:name=".teacherActivity.dialogs.EditPerformanceDialogActivity"
            android:exported="true" />
        <activity
            android:name=".teacherActivity.DetailStudentActivity"
            android:exported="true" />
        <activity
            android:name=".teacherActivity.SearchStudentActivity"
            android:exported="true" />
        <activity
            android:name=".teacherActivity.HomeActivityTeacher"
            android:exported="true" />
        <activity
            android:name=".studentActivities.DetailPerformanceActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".studentActivities.PerformanceActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".studentActivities.EducationMaterialActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".studentActivities.MaterialsSelectionActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".studentActivities.SessionScheduleActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".studentActivities.EventScheduleActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ClassesScheduleActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".studentActivities.CalendarActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".studentActivities.HomeActivityStudent"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>